* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #f1faee;
}

.app-container {
    background-color: #457b9d;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-display {
    display: flex;
    justify-content: space-between;
}

.city-name {
    font-size: 2.5rem;
    color: #d1eded;
}

.city-temp {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: .5rem;
}

.temp-container {
    position: relative;
    /* border: 1px solid red; */
    width: 180px;
}

.uom-toggle {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 12px;
    background-color: #EC6E4C;
    height: 1.8rem;
    width: 1.2rem;
    right: 0;
    bottom: .3rem;
}

.uom-toggle--btn {
    margin-top: .25rem;
    height: .7rem;
    width: .7rem;
    background-color: #f1faee;
    border-radius: 50%;
    cursor: pointer;
}

.city-input-form {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    padding: .25rem .5rem;
}

button {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    height: 2rem;
    width: 5rem;
    font-family: 'Inter', sans-serif;
    background-color: #EC6E4C;
    border: none;
    border-radius: 6px;
    color: #f1faee;
    cursor: pointer;
}